.popup__save_text {
  margin-top: 14px;
  margin-bottom: 18px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width:1279px) {
  .popup__save_text {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1279 - 320)));
    margin-bottom: calc(14px + (18 - 14) * ((100vw - 320px) / (1279 - 320)));
  }
}