.popup__save {
  margin-top: 48px;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
  transition: opacity 1s;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width:1279px) {
  .popup__save {
    width: calc(238px + (358 - 238) * ((100vw - 320px) / (1279 - 320)));
    height: calc(46px + (50 - 46) * ((100vw - 320px) / (1279 - 320)));
  }
}