.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1280px) {
   .footer__copyright {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1280 - 320)));
   }
}