.footer {
  margin-top: 67px;
  margin-left: 200px;
  margin-bottom: 60px;
}

@media screen and (max-width:1280px) {
  .footer {
    margin-left: calc(19px + (200 - 19) * ((100vw - 320px) / (1280 - 320)));
    margin-right: calc(19px + (200 - 19) * ((100vw - 320px) / (1280 - 320)));
  }
}

@media screen and (max-width:550px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}