.profile__avatar {
  margin-right: 26px;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  background-size: cover;
}

@media screen and (max-width: 1080px) {
  .profile__avatar {
    margin-right: 0;
  }
}